* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e3e8cc, #fff);
  }

  #waImg{
    width: 50px;
  }
#waText{
    font-size: 30px;
    margin-left: 20px;
}
.card-text{
    font-size: 24px;
    font-family: cursive;
    color: #666d7e;
    font-weight: bold;

}
.card{
    max-width: 450px;
    border-radius: 25%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background: linear-gradient(to right, #c5e1ef, #fff);
}
.card-title{
    color: #2566f2 !important; 
    font-size: 27px;
    font-weight: bold;
    
}

